# Streamlit Secrets (Crucial for security)
.streamlit/secrets.toml

# Python virtual environment & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
